body {
    margin: 0;
    border: 0;
}

.body-container {
    padding: 0.5rem;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas:
        ". message-block ."
        ". body-block .";
}

.main-message {
    text-align: center;
    padding: 0.5rem 1.5rem;
    color: white;
    font-weight: bolder;
    grid-area: message-block;
}

.clean-message {
    display: none;
}

.info-message {
    display: block;
    border: #00FF40 3px solid;
    background-color: #018368;
}

.warning-message {
    display: block;
    border: #FF7F50 3px solid;
    background-color: #BF5700;
}

.error-message {
    display: block;
    border: red 3px solid;
    background-color: #880000;
}

.main-body {
    grid-area: body-block;
}

input, select {
    margin: 0.5em 1.5em;
}
