<!doctype html>
<html lang="en">
<head>
    <title>STOMP Broadcast demo</title>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js"></script>
    <script src="/js/client.js"></script>
    <link rel="stylesheet" href="/css/layout.css"/>
</head>
<body>
<main class="body-container">
    <section class="main-message" id="main-message"></section>
    <section class="main-body">
        Hello world
    </section>
</main>
</body>
</html>
